<%- include('./partials/head') %>

<!-- <section class="hero-section">
    <h2>Full agenda upcoming we love web talks</h2>
    <p>Ontdek welke we love sessies er nog meer worden gegeven in Amsterdam. Er zijn talloze sessies met uitgebreide en verschillende onderwerpen. Mocht er iets niet bij zitten wat je aantrekt, wees dan gerust er zullen nog veel meer talks georganiseerd worden. Hou deze pagina goed in de gaten!</p>
</section> -->

<section class="agenda-hero">
    <h1>Full Agenda</h1>
    <p>We ♥ Web</p>
    <p>2022</p>
</section>

<section class="full-agenda">
    <ul class="full-event">
      <% sessions.forEach(session => { %>
     <li>
   
       <h2><%= session.title %></h2>
       <p><%= session.short_description %></p>
       <p><%= session.datetime %></p>
     </li>
     <% }) %>
    </ul>

    <section class="full-agenda">
      <ul class="full-event">
        <% sessions.forEach(session => { %>
       <li>
     
         <h2><%= session.title %></h2>
         <p><%= session.short_description %></p>
         <p><%= session.datetime %></p>
       </li>
       <% }) %>
      </ul>
</section>


<%- include('./partials/footer') %>
</body>
</html>


