<%- include('./partials/detail-nav') %>

<section class="hero-detail">
  <% sessions.forEach(session => { %> 
    <h1><%= session.speaker %> <span>♥</span> the web</h1>
    <% }) %>
</section> 


<main>

<section class="event-info">

<section class="detail-introduction">
  <% sessions.forEach(session => { %> 
    <h2> <%= session.title %></h2>
    <p><%= session.description%>.</p>
  
    <% }) %>
</section>

<section class="additional-info">

    <div class="info-container">
      <% sessions.forEach(session => { %> 
      <h3><%= session.title %></h3>
      <p class="date-time"> <strong>Date & time:</strong> <%= session.datetime%></p>
      <p><strong>Location:</strong> <%= session.location%></p>
      <p><strong>Link:</strong> <%= session.link %></p>
      <% }) %>
    </div>
    

    <div class="signup-info">
      <h2>Geintereseerd?</h2>
      <p>meld je dan snel aan!</p>
      <a href="">Aanmelden</a>
    </div>
  </section>
</section>

        <section class="upcoming-events">
          <h2>Other <span>♥</span> web events you may like</h2>
  
          <ul class="next-events">
            <% sessions.forEach(session => { %>
            <li>
              <img src="/assets/html.jpeg">
              <p><%= session.title %></p>
              <p><%= session.short_description %></p>
              <p><%= session.link %></p>
            </li>
            <% }) %>
          </ul>

          <ul class="next-events">
            <% sessions.forEach(session => { %>
            <li>
              <img src="/assets/html.jpeg">
              <p><%= session.title %></p>
              <p><%= session.short_description %></p>
              <p><%= session.link %></p>
            </li>
            <% }) %>
          </ul>

          <ul class="next-events">
            <% sessions.forEach(session => { %>
            <li>
              <img src="/assets/html.jpeg">
              <p><%= session.title %></p>
              <p><%= session.short_description %></p>
              <p><%= session.link %></p>
            </li>
            <% }) %>
          </ul>

          <ul class="next-events">
            <% sessions.forEach(session => { %>
            <li>
              <img src="/assets/html.jpeg">
              <p><%= session.title %></p>
              <p><%= session.short_description %></p>
              <p><%= session.link %></p>
            </li>
            <% }) %>
          </ul>

          <ul class="next-events">
            <% sessions.forEach(session => { %>
            <li>
              <img src="/assets/html.jpeg">
              <p><%= session.title %></p>
              <p><%= session.short_description %></p>
              <p><%= session.link %></p>
            </li>
            <% }) %>
          </ul>

          

    </section>

</main>
<%- include('./partials/footer') %>