<%- include('./partials/head') %>

<section class="hero-section">

  <article>
    <h1>Ontdek interessante <br> we love web events.</h1>
    <p>We ♥ web is de plek voor <br>talks over frontend design & development,gegeven door ervaren gastsprekers </p>
    <a href="">Meer info</a>
  </article>

  <div> 
  <img src="/assets/weloveweb.jpeg">

 </div>
    
</section>

<main>
    <section class="introduction">
        <h2>Introduction</h2>
        <p>FDND we love web sessies zijn talks waar gastspreker worden worden uitgenodigd om te praten over hun vakgebied. Super handig en interessant voor studenten en geintresseerden van buitenaf.</p>
        <p>Afhankelijk van het onderwerp van de sprint nodigen wij gastsprekers uit om een onderwerp te behandelen dat relevant is tot betrekking met de sprint. Deze talks zijn niet voor studenten alleen maar voor iedereen die zich aangesproken voelt!</p>
    </section>

    <section class="instructions">
        <h2>Hoe werkt het?</h2>
        <p>Ontdek intressante we love web sessies die op locatie worden gegeven. Aanmelden is makkelijk!</p>
    
        <article class="look-event">
           <a href="/agenda"><img src="/assets/magnify.png"></a>
            <p>Kijk op de events</p>
            <p>Neem een kijkje naar de next events en de upcoming events om jezelf te orienteren </p>
        </article>

        <article class="choose-event">
            <img src="/assets/ticket.png">
            <p>Kies een evenement</p>
            <p>Kies een evenement uit en klik op “go to event” om meer info hierover te krijgen</p>
        </article>

        <article class="signup-event">
            <img src="/assets/signup.png">
            <p>Meld je aan</p>
            <p>Wil je graag bij het evenement bij zijn meld je dan snel aan via de aanmeld button</p>
        </article>
         
        <a class="full-agenda" href="/agenda">Full agenda</a>
    </section>

    <section class="upcoming-events">
        <h2>Next we <span>♥</span> web events</h2>


        
      <ul class="next-events">
        <% sessions.forEach(session => { %>
          <a href="detail/<%= session.sessionId %>">
        <li>
          <img src="/assets/html.jpeg">
          <p><%= session.title %></p>
          <p><%= session.short_description %></p>
          <p><%= session.link %></p>
        </li>
        </a>
        <% }) %>
      </ul>
</section>

    <section class="upcoming-events">
        <h2>Aankomende we <span>♥</span> web events</h2>

        <ul class="next-events">
          <% sessions.forEach(session => { %>
            <a href="/detail/<%= session.sessionId %>">
          <li>
            <img src="/assets/html.jpeg">
            <p><%= session.title %></p>
            <p><%= session.short_description %></p>
            <p><%= session.link %></p>
  
            
            
          </li>
          </a>
          <% }) %>
        </ul>

  

    </section>
  </a>


    






</main>

<%- include('./partials/footer') %>